@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #2c3e50;
}

.container {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  width: 700px;
  margin-top: 3em;
}

.container p {
  font-size: 1.5em;
}

.formStyle {
  background-color: #2c3e50;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ecf0f1;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  font-size: 1.5em;
  font-weight: 100;
  color: #ffffff;
}

.container .note {
  font-size: 1.2em;
}

input:focus {
  outline: none;
}

.btn {
  background-color: #1abc9c;
}

#results {
  overflow-y: scroll;
  height: 400px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  width: 70%;
}
