<h3>Results for: <%= @name %></h3>
<div class='results'>
  <div id='data'>
    <% @reviews.keywords.each do |key, value| %>
      <p><%= "#{key}: #{value.round(2)}" %></p>
    <% end %>
  </div>
  <%= image_tag("data.png", id: 'cloud')%>
</div>