<h3>Results for: <%= @name %></h3>
<div class='results'>
  <div id='data'>
    <% @reviews.keywords.each do |key, value| %>
      <p><%= "#{key}: #{value.round(2)}" %></p>
    <% end %>
  </div>
  <% if File.exist?("app/assets/images/data.png") %>
    <%= image_tag("data.png", id: 'cloud') %>
  <% end %>
</div>